<h2>Payment Stub</h2>
<mat-divider></mat-divider>
<p></p>
<div >

<div class="section">
  <h3>Artist information </h3>
  <div class="column">
    <div  class="oneLineContainer">
      <p>Name: {{stubInfo.artistName}}</p>
      <p>Surname: {{stubInfo.artistSurname}}</p>
    </div>
    <div  class="oneLineContainer">
      <p>Address: {{stubInfo.artistAddress}}</p>
      <p>SSN: {{stubInfo.artistSSN}}</p>
    </div>
  </div>
</div>
  <mat-divider></mat-divider>
  <p></p>

  <div  class="section">
    <h3>Sold Artwork </h3>
    <div class="column">
      <div  class="oneLineContainer">
        <p>Title: {{stubInfo.artworkTitle}}</p>
        <p>Size: {{stubInfo.size}}</p>
      </div>
      <div  class="oneLineContainer">
        <p>Art Type: {{stubInfo.type}}</p>
        <p>Art Medium: {{stubInfo.medium}}</p>
        <p>Art Style: {{stubInfo.style}}</p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <p></p>

  <div  class="section">
    <h3>Salesperson </h3>
    <div>
      <p>Name: {{stubInfo.salespersonName}}</p>
      <p>Surname: {{stubInfo.salespersonSurname}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <p></p>

  <div  class="section">
    <h3>Payment </h3>
    <div>
      <p>Selling Price: {{stubInfo.sellingPrice}}</p>
      <p>Amount Remitted: {{stubInfo.amountRemitted}}</p>
    </div>
  </div>
</div>
