<table mat-table [dataSource]="artistsList">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let artist; let i = index"> {{i + 1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let artist"> {{artist.getName()}} </td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let artist"> {{artist.address}} </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let artist"> {{artist.phone}} </td>
  </ng-container>
  <ng-container matColumnDef="ssn">
    <th mat-header-cell *matHeaderCellDef> SSN </th>
    <td mat-cell *matCellDef="let artist"> {{artist.ssn}} </td>
  </ng-container>
  <ng-container matColumnDef="usualType">
    <th mat-header-cell *matHeaderCellDef> Usual type </th>
    <td mat-cell *matCellDef="let artist"> {{artist.usualType}} </td>
  </ng-container>
  <ng-container matColumnDef="usualMedium">
    <th mat-header-cell *matHeaderCellDef> Usual medium </th>
    <td mat-cell *matCellDef="let artist"> {{artist.usualMedium}} </td>
  </ng-container>
  <ng-container matColumnDef="usualStyle">
    <th mat-header-cell *matHeaderCellDef> Usual style </th>
    <td mat-cell *matCellDef="let artist"> {{artist.usualStyle}} </td>
  </ng-container>
  <ng-container matColumnDef="thisYearSelling">
    <th mat-header-cell *matHeaderCellDef> This year selling </th>
    <td mat-cell *matCellDef="let artist" class="table-num"> {{artist.thisYearSelling}} </td>
  </ng-container>
  <ng-container matColumnDef="lastYearSelling">
    <th mat-header-cell *matHeaderCellDef> Last year selling </th>
    <td mat-cell *matCellDef="let artist" class="table-num"> {{artist.lastYearSelling}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
