img {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
}

input[type=checkbox] {
  display: none;
}

.image-container img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}
label{
  margin: 0!important;
}
